<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    	{% if title %}
    	<title>{{title}} - DietPlanner </title>
    	{% else %}
    	<title>DietPlanner</title>
    	{% endif %}
    	
	</head>
	<body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename= 'js/remove.js') }}"></script>
	
	<div id = loading style="display: table;">
    	<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
			<div style=" #position: relative; #top: -50%">
				<div class = "center">
					Please wait up to 15 seconds. We are loading data.<br>
					<img src="{{url_for('static', filename= 'img/loading.gif') }}" />
					</div>
				</div>
			</div>
		</div>
	</div>
    	<div>DietPlanner:
    	{% if g.user.is_authenticated()%}
    		 <a href="{{ url_for('profile') }}" >Home</a>
    		| <a href="{{ url_for('manage') }}" >Manage Diet Needs</a>
    		| <a href="{{ url_for('resultSearch') }}" >Select Foods</a>
    		| <a href="{{ url_for('optimize') }}" >Get Diet Plan</a>

		{%endif%}
    	{%if userProfile%}
    	| {{ userProfile }}
    	{%endif%}
		{%if g.user.role == 0 %}
		| <a href="{{ url_for('logout') }}" >Log out</a>
		| <a href="{{ url_for('logout') }}" >Sign in as a New User</a>
		{% elif g.user.role == 1 %}
		| <a href="{{ url_for('logout') }}" >Leave</a>
		| <a href="{{ url_for('signup') }}" >Save My Profile</a>
		{%endif%}
 
    	
    	</div>
    	<hr>
    	{% with messages = get_flashed_messages() %}
    	{% if messages %}
    	<ul>
    	{% for message in messages %}
        	<li>{{ message }} </li>
    	{% endfor %}
    	</ul>
    	{% endif %}
    	{% endwith %}
    	{% if head_1%}
    	{% endif%}
    
		{% block content %}{%endblock%}
		


				
<div id =sectionsLong>

	<div id = expMdn>
		<div id = sectionsInLong style="display: table;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<div style=" #position: relative; #top: -50%">
					<a href="{{ url_for('manage') }}" style="text-decoration: none; font-size : small"> 
						<div id class = heading><strong>
							Manage Diet Needs
						</strong></div>
					</a>
				</div>
			</div>
		</div>	
	</div>
	
	<div id = textexpMdn style="display: None;">
		<div id = sectionsInLongText style="display: table;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<div style=" #position: relative; #top: -50%">
					<p><li>Choose a nutrient to minimize or maximize.</li></p> 
					<p><li>Choose between two default nutrient plans, a basic nutrient plan or a plan with a full list of nutrients.</li> </p>
					<p><li>Modify the nutritional constraints according to your needs. </li></p>

				</div>
			</div>
		</div>
	</div>	

</div>

<div id =sectionsLong>
	<div id = expSf>
		<div id = sectionsInLong style="display: table;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<div style=" #position: relative; #top: -50%">
					<a href="{{ url_for('resultSearch') }}" style="text-decoration: none; font-size : small"> 
						<div id class = heading><strong>
							Select Foods
						</strong></div>
					</a>
				</div>
			</div>
		</div>
	</div>	
	
	<div id = textexpSf style="display: None;">
		<div id = sectionsInLongText style="display: table;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<div style=" #position: relative; #top: -50%">
					<p><li>Browse foods by categories or searching.</li></p>
					<p><li>View the nutritional labels.</li></p>
					<p><li>Choose the foods you like. </li></p>
				</div>
			</div>
		</div>
	</div>	

</div>
<div id =sectionsLong>
	<div id = expGdp>
		<div id = sectionsInLong style="display: table;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<div style=" #position: relative; #top: -50%">
					<a href="{{ url_for('optimize') }}" style="text-decoration: none; font-size : small"> 
						<div id class = heading><strong>
							Get Diet Plan
						</strong></div>
					</a>
				</div>
			</div>
		</div>
	</div>	
	
	<div id = textexpGdp style="display: None;">
		<div id = sectionsInLongText style="display: table;">
			<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
				<div style=" #position: relative; #top: -50%">
					<p><li>Complement your diet with suggested foods when the diet is low on certain nutrients. </li></p>
					<p><li>Add more foods when the diet has too much of certain nutrients. </li></p>
					<p><li>Get your satisfactory diet plan. </li></p>
				</div>
			</div>
		</div>
	</div>	

</div>
	
  	</body>
</html>

