<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    	{% if title %}
    	<title>{{title}} - DietPlanner </title>
    	{% else %}
    	<title>DietPlanner</title>
    	{% endif %}
	</head>
	<body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename= 'js/remove.js') }}"></script>
	
	<div id = loading>
	Please Wait
	<img src="{{url_for('static', filename= 'img/loadingimage.gif') }}" />
	</div>
    	<div>DietPlanner:
    	{% if g.user.is_authenticated()%}
    		{%if g.user.role == 0 %}
    			{% if g.user.username%}
    		| <a href="{{ url_for('logout') }}" >Log out</a>
    			{%endif%}
			{%endif%}
		{%endif%}
    	{%if userProfile%}
    	| {{ userProfile }}
    	{%endif%}
    	 	
    	</div>
    	<hr>
    	{% with messages = get_flashed_messages() %}
    	{% if messages %}
    	<ul>
    	{% for message in messages %}
        	<li>{{ message }} </li>
    	{% endfor %}
    	</ul>
    	{% endif %}
    	{% endwith %}
    	{% if head_1%}
    	{% endif%}
    
		{% block content %}{%endblock%}
		


				
    <div id = sections style="display: table;">
		<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
			<div style=" #position: relative; #top: -50%">
				<a href="{{ url_for('manage') }}" style="text-decoration: none; font-size : small"> 
					<div id class = heading><strong>
						Manage Diet Needs
					</strong></div>
				</a>
			</div>
		</div>
	</div>	
		
    <div id = sections style="display: table;">
		<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
			<div style=" #position: relative; #top: -50%">
				<a href="{{ url_for('resultSearch') }}" style="text-decoration: none; font-size : small"> 
					<div id class = heading><strong>
						Select Foods
					</strong></div>
				</a>
			</div>
		</div>
	</div>			

    <div id = sections style="display: table;">
		<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
			<div style=" #position: relative; #top: -50%">
				<a href="{{ url_for('optimize') }}" style="text-decoration: none; font-size : small"> 
					<div id class = heading><strong>
						Get Diet Plan
					</strong></div>
				</a>
			</div>
		</div>
	</div>	

  	</body>
</html>

