{% extends "baseResult.html" %}
{% block content %}
<div id = manageFoodsILike>
	<div class = subHeading>
		<strong>Manage Foods I Like
		</strong>
	</div>
	<br>
	
{% if selectFilterFoodsILike %}
	
	<form action="" method="post" name="Filter">
		{{selectFilterFoodsILike.hidden_tag()}}
		Order by: {{selectFilterFoodsILike.filterNut}}{{selectFilterFoodsILike.filter}}
	
	</form>
{%endif%}
{%if manageFoodsILike%}
    	
    			<form action="" method="post" name="manageFoodsILike">
    				{{manageFoodsILike.hidden_tag()}}

<div id = submitManageFood>
	{{manageFoodsILike.submit}}
	<strong>
	>>
	</strong>
</div>

    			<div id = box3ManageFoodsILikeList>
    					{%set mainType = ""%}
    					{%set indexField = 0%}
    					{%for field in manageFoodsILike %}
    						{%if indexField >= 4%}
    							{%if byCat%}
									{%if foodsItemsILike[indexField-4].mainType != mainType %}
										<strong class= capitalize>{{foodsItemsILike[indexField-4].mainType}}</strong><br>
										{%set mainType = foodsItemsILike[indexField-4].mainType%}
									{%endif%}
								{%endif%}
        						{{field}}
        						<a id = {{field.name}}>
        						{{field.label}}
        						
        						</a>
        						
        						<br>   					
        					{%endif%}
        					{% set indexField = indexField + 1%}
        				{%endfor%}
  	
    			</div>
        		{{manageFoodsILike.remove}}
    		    {{manageFoodsILike.toggle}}
    		    </form>
    		    
    {%endif%}	
    

</div>
    <div id = manageFoodDetails>
    {%if foodsItemsILike%}
	{%for food in foodsItemsILike%}
		<table id = "tabNut{{food.id}}" style= "display:none" class="nutrition" summary="This table summarizes nutritional information">
	<tr>
		<th colspan="2">Nutrition Facts</th>
	</tr>
	<tr id="servings">
		<td colspan="2">Serving Size {{food.value(5)}} {{food.value(6)}} ({{food.value(7)|round()|int}}g)</td>
	</tr>
	<tr>
		<td colspan="2">Amount Per Serving</td>
	</tr>
	<tr id="calories">
		<td><strong>Calories</strong> {{food.value(8)}}</td>
		<td>Calories from Fat {{food.value(9)}} </td>
	</tr>
	<tr>
		<td></td>
		<td class="dv">% Daily Value *</td>
	</tr>
	<tr>
		<td><strong>Total Fat</strong> {{food.value(10)}}g</td>
		<td class="dv">{{food.value(11)}}%</td>
	</tr>
	<tr>
		<td class="sub">Saturated Fat {{food.value(12)}}g</td>
		<td class="dv">{{(100*food.value(12)/20)|round()|int}}%</td>
	</tr>
	<tr>
		<td class="sub">Monounsaturated Fat {{food.value(13)}}g</td>
		<td class="dv"></td>
	</tr>
	<tr>
		<td class="sub">Polyunsaturated Fat {{food.value(14)}}g</td>
		<td class="dv"></td>
	</tr>

	<tr>
		<td><strong>Cholesterol</strong> {{food.value(15)}}g</td>
		<td class="dv">{{(100*food.value(15)/300)|round()|int}}%</td>
	</tr>
	<tr>
		<td><strong>Sodium</strong> {{food.value(16)}}mg</td>
		<td class="dv">{{(100*food.value(16)/2400)|round()|int}}%</td>
	</tr>
	<tr>
		<td><strong>Total Carbohydrate</strong> {{food.value(17)}}g</td>
		<td class="dv">{{(100*food.value(17)/300)|round()|int}}%</td>
	</tr>
	<tr>
		<td class="sub">Dietary Fiber {{food.value(18)}}g</td>
		<td class="dv">{{(100*food.value(18)/25)|round()|int}}%</td>
	</tr>
	<tr>
		<td class="sub">Sugars {{food.value(19)}}g</td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Protein</strong> {{food.value(20)}}g</td>
		<td class="dv">{{(100*food.value(20)/50)|round()|int}}%</td>
	</tr>
	<tr id="minerals">
		<td>Vitamin A</td>
		<td class="dv">{{food.value(21)}}%</td>
	</tr>
	<tr>
		<td>Vitamin C</td>
		<td class="dv">{{food.value(22)}}%</td>
	</tr>
	<tr>
		<td>Calcium</td>
		<td class="dv">{{food.value(23)}}%</td>
	</tr>
	<tr>
		<td>Iron</td>
		<td class="dv">{{food.value(24)}}%</td>
	</tr>
	<caption>{{food.food}} {{food.detail}} ({{food.source}})</caption>
</table>
	{%endfor%}
	{%endif%}
	</div>
{% endblock %}