<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    	{% if title %}
    	<title>{{title}} - NutriData </title>
    	{% else %}
    	<title>NutriData</title>
    	{% endif %}
	</head>
	<body>
    	<div>NutriData: <a href="/index">Home</a>
    	{%if first %}
    	 | <a href="{{ url_for('login') }}" >Log in</a>
    	 {% if g.user.is_authenticated() %}
    	 | <a href="{{ url_for('logout') }}" >Log out</a>
    	 {%endif%}
    	 | <a href="{{ url_for('signup') }}" >Sign up</a>
    	{%endif%}
    	
    	</div>
    	<hr>
    	{% with messages = get_flashed_messages() %}
    	{% if messages %}
    	<ul>
    	{% for message in messages %}
        	<li>{{ message }} </li>
    	{% endfor %}
    	</ul>
    	{% endif %}
    	{% endwith %}
    	{% if head_1%}
    	<h1> {{head_1}} </h1>
    	{% endif%}

<!-- Search Box -->
	
    

    	{% if form%}
 
			<form action="" method="post" name="searchEntry">
			{{form.hidden_tag()}}

				Search by Keywords:
				{{form.searchEntry(size=28,placeholder="Food")}}
				{{form.brandEntry(size=27,placeholder="Brand (Optional)")}}
				<input type="submit" name ="search" value="Go!">
			</form>
			{% if selectFilter %}
			<form action="" method="post" name="Filter">
				{{selectFilter.hidden_tag()}}
				Order by Nutritional Content: {{selectFilter.filterNut}}
				{{selectFilter.filter}}
			</form>
			{%endif%}
			

	
			

    	{% endif %}
    	


    
<!-- Box 1 -->
    

  	</body>
</html>

