{% extends "baseResult.html" %}

{% block content %}
	
    	{% if minMaxForm %}
			<form action="" method="post" name="Contraints">
					{{minMaxForm.hidden_tag()}}
					1. Choose Diet Plan<br>
					<div id = chooseDefault>
						{%for subfield in minMaxForm.opt_maxormin%}
							{%if loop.index0 >=2%}
								{{subfield}}{{subfield.label}}<br>
							{%endif%}	
						{%endfor%}
					</div>
					<div class= center>or</div>
					<div id = chooseminmax>
						{%for subfield in minMaxForm.opt_maxormin%}
							{%if loop.index0 <= 1%}
								{{subfield}}{{subfield.label}}
							{%endif%}	
						{%endfor%}
						<div id = listobj>
							{%for subfield in minMaxForm.opt_nut%}
								{{subfield}}{{subfield.label}}<br>
							{%endfor%}
						</div>
						<div id = box2Scroll>⇩</div>
					</div>
					2. Choose Nutritional Plan<br>
					<div id= choosePlan>
						{%for subfield in minMaxForm.nutrientPlan%}
							{{subfield}}{{subfield.label}}<br>
						{%endfor%}
					</div>
					
					{{minMaxForm.submit}}<br>
	</div>
	
	<div id = minMaxForm>
		3. Manage Nutritional Constraints<br>
    	<table >
    		
    		<tr>
    			<th>Nutrient</th>
    			<th>Lower Bound</th>
    			<th>Upper Bound</th>
    		</tr>
    		
    	{% set i = 0%}		    		
		{% for field in minMaxForm%}
			{% if i != 0 and i <= 420 and check[(i-1)//3]== 1 %}
				
				{% if (i-1) is divisibleby(3)%}
					<tr><td class="tdConstraints">{{field}}{{minMaxForm.heading[(i-1)//3]}}</td>
				{% elif (i-2) is divisibleby(3)%}
					<td>{{field(size=15,value=minMaxForm.lowerBound[(i-2)//3])}}</td>
				{%else%}
					<td>{{field(size=15,value=minMaxForm.upperBound[(i-3)//3])}}</td>
					</tr>
				{%endif%}
			
			{%endif%}
			{% set i = i+1%}
		{%endfor%}
		
		{% set i = 0%}		    		
		{% for field in minMaxForm%}
			{% if i != 0 and i <= 420 and check[(i-1)//3]== 0 %}
				{% if (i-1) is divisibleby(3)%}
					<tr> <td class="tdConstraints">{{field}}{{minMaxForm.heading[(i-1)//3]}}</td>
				{% elif (i-2) is divisibleby(3)%}
					<td>{{field(size=15,value=minMaxForm.lowerBound[(i-2)//3])}}</td>
				{%else%}
					<td>{{field(size=15,value=minMaxForm.upperBound[(i-3)//3])}}</td>
					</tr>
				{%endif%}
			
			{%endif%}
			{% set i = i+1%}
		{%endfor%}
		</table>
	</div>
    </form>	
    {% endif %}
	
	
    {% if outputFood %}
    <div id = resultLP>
    <div class = subHeading><strong>My Diet Plan</strong></div><br>

    	{% for i in range(outputFood|length)%}
    		<p>{{ outputFoodAmount[i]}} {{outputFood[i]}} </p>
    	{% endfor %}
    
    </div>

	{% if nutExceedStatement or nutLackStatement%}
	    <div id = resultLP>
		 <div class = subHeading><strong>Remarks</strong></div><br>
		 <p></p>
	
	
	{% if nutExceedStatement%}
    	{% if status == "Optimal"%}
    		<p>
    		Diet Optimized<br>
    		Minimum Constraints Met<br>
    		However,<br>
    		</p>
    	{%endif%}
    {%endif%}
	
	{% if status == "Infeasible"%}
		<p>
		Diet Not Optimized<br>
		Following Constraints Unmet<br>
		</p>
	{%endif%}
	{% set index = 0%}
    {% if nutExceedStatement%}
    	{%for eachExceed in nutExceedStatement%}
    		
    		<div id = nutExceed{{index}}><FONT COLOR="FF0000">{{eachExceed}}</FONT><br></div>
    		{%for eachNutExceedWhichFood in nutExceedWhichFood [index]%}
    			<li id = FoodnutExceed{{index}} style= "display:none" >{{eachNutExceedWhichFood[0]}}% from {{eachNutExceedWhichFood[1].food}}<br></li>
    		{%endfor%}
    		{%set index = index +1%}
    	{%endfor%}
    {%endif%}
    <br>
    
    {% if nutLackStatement%}
        <a href="{{ url_for('resultSuggest') }}" style="text-decoration: none" >Compliment with these Nutrients:</a><br>
    	{%for eachLack in nutLackStatement%}
			{{eachLack}}<br>
    	{%endfor%}
    {%endif%}
    <br>
    
    or <a href="{{ url_for('manage') }}" style="text-decoration: none" >Adjust the Constraints</a>
    
		</div>	
	{%endif %}
    	
    {%endif%}
    {%if eachTotalStatement%}
    <div id = resultLP>
    		 <div class = subHeading><strong>Nutritional Report</strong></div><br>

    {%for each in eachTotalStatement%}
    {{each}}<br>
    {%endfor%}
    </div>
    {%endif%}
{% endblock %}