{% extends "admin.html" %}

{% block content %}
    <div id = sections style="display: table;">
		<div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
			<div style=" #position: relative; #top: -50%">
						<div id class = subHeading><strong>Sign Up</strong></div>
		<table>
			<form action="" method="post" name="login">
				{{signupform.hidden_tag()}}
				<tr>
					<td class = tdAccount>Username:</td>
					<td>{{signupform.usernameSign(size=20)}}</td>
				</tr>
				<tr>
					<td class = tdAccount>Password:</td>
					<td>{{signupform.passwordSign(size=20)}}</td>
				</tr> 
		</table>
		<input type="submit" value="Log In">
		</form>
			</div>
		</div>
	</div>		
{% endblock %}





	


