{% extends "baseResult.html" %}

{% block content %}
<div id = loading>
<img src="static/img/loadingimage.gif">
</div>
<!-- 
<form action="" method="post">
	{% for field in form %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}
</form>

<form action="" method="post">
	{% for field in form2 %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}
</form>

<form action="" method="post">
	{% for field in button %}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}
</form>
 -->
 
 
{%endblock%}